body 
{
    background: rgba(0, 255, 255, 0.3); /* 0= 0% of color and 1=100% of color */
}

#title
{
    color: red;
}

.subtitle
{
    color:rgb(249, 253, 6);
    background: deepskyblue;
}

#service-image
{
    height: 400px; /* He say's ignore it. */
    width: 70%; /* He say's ignore it. */

    background: linear-gradient(to bottom right, rgb(28, 134, 28), rgba(28, 134, 28, 0)); /* You can write left, top and bottom in place of right */
    background-size: cover; /* This will cover the full area od background */ 
    /* You can also use contain but contain will repeat the img after fully stretching it. */

}