body 
{
    background: rgba(0, 255, 255, 0.3); /* 0= 0% of color and 1=100% of color */
}

#title
{
    color: red;
}

.subtitle
{
    color:rgb(249, 253, 6);
    background: deepskyblue;
}

#service-image
{
    height: 400px; /* He say's ignore it. */
    width: 70%; /* He say's ignore it. */

    /* Always input color percentage in increasing order */
    background: radial-gradient(circle, red 20%, blue 30%, green 35%);
}