body 
{
    background: cyan;
}

#title
{
    color: red;
}

.subtitle
{
    color:rgb(249, 253, 6);
    background: deepskyblue;
}

#service-image
{
    height: 400px; /* He say's ignore it. */
    width: 70%; /* He say's ignore it. */
    background-image: url("img-2.jpg");
    background: rgb(235, 32, 110);

}