body 
{
    font-family: 'Montserrat', sans-serif; /* Imported from google */
    text-align: justify; /* It will just use single space in line except space between letters */
    font-size: 1.15em; /* +15% of normal font */
    background: linear-gradient(rgb(0, 255, 255), rgba(0, 255, 255, 0)); /* 0= 0% of color and 1=100% of color */
}

#title
{
    color: red;
    font-family: 'Mate SC', sans-serif;  /* Imported from google */
}

.subtitle
{
    color:rgb(249, 253, 6);
    font-family: 'Mate SC', sans-serif;  /* Imported from google */
    background: deepskyblue;
}

#service-image
{
    /* vh = View Height, vw = View Width */
    height: 40vh; /* It will put height 40% of screen/window. It can be more than 100 also. */
    width: 40vw; /* It will put width 50% of screen/window */

    /* Always input color percentage in increasing order */
    background: radial-gradient(circle, red 20%, blue 30%, green 35%);

    /* border: size style color */
    border: 10px double rgb(59, 15, 109);

}

#link
{
    /* It just set the link decoration */
    text-decoration:line-through; /* You can also add underline(default),none,dotted,overline, etc */
}

.span
{
    font-style: italic;
}

#image
{
    height: 260px;
    width: 42%;

    /* margin: Top_and_Bottom   Right_and_left */
    margin: 10px 100px;

    float: right;
}

.table
{
    display: inline-block;
}

.container
{
    background: linear-gradient(rgb(0, 255, 255), rgba(0, 255, 255, 0));
    margin: 10px;
    height: 300px;

    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; /* It will just put extra thing in down line */
    justify-content: center; /* It just similar to space-around */

    /* flex-start = up and flex-end = down  */
    align-items: center; /*It's by default stretched*/
}
.container-item
{
    background: green;
    color: white;
    font-size: 25px;
    text-align: center;

    line-height: 50px;
    width: 70px;
    margin: 10px;
}

.grid-container
{
    background: linear-gradient(rgba(0, 255, 255, 0), rgb(0, 255, 255));
    margin: 10px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;


}

.grid-item
{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;

    line-height: 40px;
    width: 70px;
    margin: 10px;
}

.input
{
    display: block;
    margin: 10px;
}

.submit-button
{
    margin: 10px 10px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(89, 150, 225);
    transition: background, padding 300ms ease; /* You can also write ease, liner and ease-out in it. */

    /* matrix( scaleX, skewX, skewY, scaleY, translateX, translatrY )*/
    transform: matrix(1,0.45, 0.45, 1, 100, 50) /* 0.45 = 45deg */
    /* NOTE: You should not add any unit in matrix just follow the matrix formate and just input the value */
}

.submit-button:hover
{
    background: rgb(27, 211, 125);
    padding: 15px 15px;
}

#about-me
{
    animation-name: red-to-black;
    animation-duration: 2s; /* By default this value is zero */
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: 2; /* It will repeat how many times you have entered you can also write infinite */

    /* By default it is normal */
    animation-direction: alternate;  /* It goes 0 tp 100 and then 100 to 0.
    You can also write reverse which goes 100 to 0 */
}

@keyframes red-to-black /* You can write what ever you want in the place of red-to-black */
{
    0%
    {
        background: red;
        transform: translate(0px, 0px);
    }

    50%
    {
        background: green;
        transform: translate(10px, 10px);
    }

    100%
    {
        background: black;
        transform: translate(20px, 20px);
    }
}