body
{
    color: rgb(225,225,225);
    background-color: rgb(59, 52, 52);
    font-family: sans-serif;
}

.content
{
    animation-name:fade-in;
    animation-duration: 2s;
}

.subtitle
{
    color:rgb(184, 41, 100);
    font-family: 'Lato', sans-serif;
}

#image-1 {
	float: right;
	margin: 15px;
	height: 300px;
}

img
{
    height: 200px;
    width: 200px;
}

img:hover
{
    height: 300px;
    width: 300px;
}


.sidebar {
	background: rgb(0, 0, 0);
}

.topic-subtitle
{
    color: darkorchid; 
}

.post {
	border: 2px solid rgb(229, 158, 66);
	margin: 10px;
}

.post-title
{
    color:rgb(184, 41, 100);
    border-color: black;
    border-width: 10px;
}

.link
{
    color: rgb(135, 252, 174);
}

.link:hover
{
    color: rgb(132, 241, 159);
}

#main {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 30px;
	width: 100%;
}

.image-grid {
	display: flex;
	flex-wrap: wrap;

}

.post-title {
	margin-left: 5px;
}

.post-text {
	margin-left: 5px;
	margin-right: 5px;
}

.post > a {
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
	color: rgb(70, 137, 244);
	transition: 0.5s color;
}

.post > a:hover {
	color: rgb(0, 0, 0);
}


@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

